button {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-transform: inherit;
  outline: none;
  &:focus {
    .keyboard-is-used & {
      outline: 1px dotted;
    }
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled {
    cursor: auto;
  }
}

%eor-button-base {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  &:disabled,
  &[disabled] {
    cursor: auto;
  }
}

.eor-button {
  @extend %eor-button-base;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  padding: $spacing-regular;

  transition: border $anim-transition-hover, box-shadow $anim-transition-hover,
    color $anim-transition-hover, background $anim-transition-hover;

  &.-primary {
    background-color: $primary;
    color: white;

    &:not(:disabled) {
      &:focus {
        background-color: white;
        color: $primary;
        border: 1px solid $primary;
      }
    }

    &:disabled,
    &[disabled] {
      color: rgba(white, $opacity-disabled);
      background-color: rgba($primary, $opacity-disabled);
    }
  }

  //   &.-secondary {
  //     $color: get-color(actions-button-links, dark);
  //     color: $color;
  //     border: rem(1px) solid $color;
  //     background-color: $color-white;

  //     &:not(:disabled) {
  //       @include has-hover-support {
  //         &:hover {
  //           background-color: $color-westar-grey-70;
  //           border-color: transparent;
  //         }
  //       }

  //       &:not(.-no-focus):focus,
  //       .keyboard-is-used &:focus {
  //         background-color: $color-westar-grey-70;
  //       }
  //       &:active {
  //         background-color: $color-westar-grey-70;
  //       }
  //     }

  //     &:disabled,
  //     &[disabled] {
  //       color: rgba($color, $opacity-disabled);
  //     }
  //   }

  //   &.-tertiary {
  //     $color: get-color(actions-button-links, dark);
  //     color: $color;
  //     border: rem(1px) solid $color-westar-grey-30;
  //     background-color: $color-white;
  //     @include has-hover-support {
  //       &:hover {
  //         text-decoration: underline;
  //       }
  //     }
  //     &:focus {
  //       text-decoration: underline;
  //     }
  //     &:active {
  //       background-color: $color-westar-grey-30;
  //     }
  //     &:disabled,
  //     &[disabled] {
  //       color: rgba($color, $opacity-disabled);
  //     }
  //   }

  //   &.-flat {
  //     border: rem(1px) solid $color-westar-grey-70;
  //   }
}
